/labassigment3/nbproject/private/
/lab-assigment3/nbproject/private/
/WS2/nbproject/private/
/MusicShopExample/nbproject/private/
/MusicShopExample/build/
/MusicShopExaple1/nbproject/private/
/MusicExample2/nbproject/private/
/musicShopExampl/nbproject/private/
/musicShopExampl/build/
/Rectangle/nbproject/private/
/Rectangle Tester/nbproject/private/
/Rectangle Tester/build/
/lab-assigment3/build/
/School.management.system/nbproject/private/
/School.management.system/build/
/school.managment.com/nbproject/private/
/school.managment.com/build/
/school.management.system1/nbproject/private/
/school.management.system1/build/
/MusicShopExample1/nbproject/private/
